@page "/todo"

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Todo</h2>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Is done</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                
                @foreach (var item in todos)
                {
                    <tbody>
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.IsDone
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
    private IList<TodoItem> todos = new List<TodoItem>();
}
